**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info
.coverage
.tox
**/build
**/coverage-html
docs/_site
**/venv
.tox
**/*.pyc
.cache
.DS_Store
webserver/
