fastapi
starlette
uvicorn
celery
PyJWT
python-dotenv
pymongo
bson
pandas
secure
playwright
openai
google-generativeai
markdown
redis
python-multipart
pydantic
numpy
opencv-python
torch
torchvision
lpips
matplotlib